name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: actions/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/code2cloud:latest

      - name: Deploy to GCP Instance
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCP_INSTANCE_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/code2cloud:latest
            docker stop code2cloud || true
            docker rm code2cloud || true
            docker run -d --name code2cloud -p 8000:8000 ${{ secrets.DOCKERHUB_USERNAME }}/code2cloud:latest
